h2 {
    padding-left: 1rem;
    padding-right: .5rem;
}

p {
    padding-left: 2rem;
    padding-right: 1.5rem;
    background-color: white;
}

img {
    margin: auto;
    max-width: 100%;
    height: auto;
}

.myTestCases {
    display: block;
}

.test-case-card {
    margin: 0.5rem;
}

.jims-card {
    width: 18rem;
    padding: 1rem;
    box-shadow: .2rem .2rem .4rem .2rem rgba(100,100,100,0.53);
}

input,
select,
textarea {
    margin: 0.25rem;
}

.hc-conduction-material-div {
    margin: 0.25rem;
}

.addItemButton {
    margin: 0.25rem;
}

.button-row-heat-transfer-buttons {
padding-top:4rem;
    background-color: white;

}

footer{
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: white;
    box-shadow: 0rem 0rem .5rem .5rem rgba(100,100,100,0.53);
}

.fixed-top {
    box-shadow: 0rem 0rem .5rem .5rem rgba(100,100,100,0.53);
}

.instruction-title {
    padding-top: 5rem;
}