
p {
    padding-left: 2rem;
    padding-right: 1.5rem;
    background-color: white;
}

img {
    margin: auto;
    max-width: 100%;
    height: auto;
}

.myTestCases {
    display: block;
}

.test-case-card {
    margin: 0.5rem;
}

.jims-card {
    width: 18rem;
    padding: 1rem;
    box-shadow: .2rem .2rem .4rem .2rem rgba(100,100,100,0.53);
}

input,
select,
textarea {
    margin: 0.25rem;
}

.hc-conduction-material-div {
    margin: 0.25rem;
}

.addItemButton {
    margin: 0.25rem;
}

.button-row-heat-transfer-buttons {
padding-top:4rem;
    background-color: white;

}

.navbar-dark {
    background-color: #42A5F5;
    border-color: #E7E7E7;
    background-image: none;
}

.button-primary-override-dropdown {
    margin-top: -.2rem;
    background-color: #42A5F5;
    border-color: #42A5F5;
    background-image: none;
}

.button-primary-override-dropdown:hover, 
.button-primary-override-dropdown:active,
.button-primary-override-dropdown:focus,
.button-primary-override-dropdown:visited{
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
    background-image: none !important;
    border: 0 !important;
}

.button-primary-override {
    margin-top: .2rem;
    background-color: #42A5F5;
    border-color: #42A5F5;
    background-image: none;
}

.button-primary-override:hover, 
.button-primary-override:active,
.button-primary-override:focus,
.button-primary-override:visited{
    background-color: #42A5F5 !important;
    border-color: #42A5F5 !important;
    background-image: none !important;
    border: 0 !important;
}

footer{
    box-shadow: 0rem 0rem .5rem .5rem rgba(100,100,100,0.53);
}

.fixed-top {
    box-shadow: 0rem 0rem .5rem .5rem rgba(100,100,100,0.53);
}

.myModalInLineLabel {
    margin-top:0rem;
}

.myModalLabelTitle {
    margin-top:0rem;
    margin-bottom:.3rem;
}

.myPhaseLabel {
    margin-left:0rem;
}

.myModalEditField {
    margin: 0rem 1rem 0rem 1rem !important;
}

input[type="range"] {
  width: 4rem;
}

.myPhaseRow {
    margin: 0rem 0rem 1rem 0rem;
}

.myButtonRow {
    margin: 0rem 0rem 1rem 0rem;
}

.myModalTextArea {
    margin: 0rem 1rem 0rem 1rem !important;
}

.myBottomOfDialogMessage {
    margin: 1rem 0rem 0rem 0rem;
}

.select-project {
    width:200px;
    display: inline;
}

.nav-bar-override {
    width:200px;
    display: inline;
}

.instructions-header {
    padding-top:4rem;
}

.user-story-div {
    padding-top:4rem;
    padding-bottom:5rem;
}

@media only screen and (max-width: 600px) {
    .select-project {
        width:200px;
        display: block;
    }
    .nav-bar-override {
        width:200px;
        
        display: block;
    }
    
    .user-story-div {
    padding-top:7rem;
    padding-bottom:7rem;
    }
    
    .instructions-header {
    padding-top:7rem;
    }

}

@media only screen and (max-width: 370px) {
    .select-project {
        width:200px;
        display: block;
    }
    .nav-bar-override {
        width:200px;
        display: block;
    }
    
    .user-story-div {
    padding-top:9rem;
    padding-bottom:11rem;
    }
    
    .instructions-header {
    padding-top:9rem;
}

    
}